@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;700&display=swap');

body{
    background-color: cornflowerblue;
    font-family: 'Source Sans Pro', sans-serif;
}

#main{
    background-color: aliceblue;
    width: 700px;
    padding: 20px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 4px 3px 9px -2px rgba(0,0,0,0.88);
}

#main h1{
    font-weight: lighter;
    font-size: 3.5em;
    margin: 10px;
}

#display{
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}

#btns{
    text-align: center;
}

.parar{
    color: #b11414;
}